dsn: postgres://kratos:kratos@pgsql-citus-ha-0.pgsql.svc.cluster.local:5432/edu_resource?sslmode=disable&max_conns=10&max_idle_conns=4

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/config/identity.default.schema.json
    - id: admin
      url: file:///etc/config/identity.admin.schema.json

serve:
  public:
    port: 4433
    base_url: https://account.17cid.bei
    cors:
      enabled: true
      allowed_origins:
        - "https://17cid.bei"
        - "https://17cid.com"
        - "https://*.17cid.bei"
        - "https://*.17cid.com"
  admin:
    port: 4434

selfservice:
  default_browser_return_url: https://17cid.bei
  allowed_return_urls:
    - https://account.17cid.bei/login
    - https://17cid.bei
    - https://17cid.bei/user

  methods:
    code:
      enabled: true
      passwordless_enabled: false
      config:
        missing_credential_fallback_enabled: false
    password:
      enabled: true
      config:
        haveibeenpwned_host: "api.pwnedpasswords.com"
        haveibeenpwned_enabled: false
        ignore_network_errors: false
        min_password_length: 8
        identifier_similarity_check_enabled: false
    totp:
      config:
        issuer: 17cid.bei
      enabled: false
    lookup_secret:
      enabled: false
    link:
      enabled: false
    passkey:
      enabled: false
      config:
        rp:
          display_name: "E-Mail"
          id: 17cid.bei
          origins:
            - https://17cid.bei

    oidc:
      enabled: false
      config:
        base_redirect_uri: https://17cid.bei/
        providers:
          - id: google
            provider: google
            client_id: 1234567890.apps.googleusercontent.com
            client_secret: secret
            mapper_url: file:///etc/ory/kratos/oidc.schema.json
            issuer_url: https://accounts.google.com
            scope:
              - openid
              - email
              - profile
              - offline
              - https://www.googleapis.com/auth/userinfo.email
              - https://www.googleapis.com/auth/userinfo.profile
              - https://www.googleapis.com/auth/plus.me
              - https://www.googleapis.com/auth/plus.login
              - https://www.googleapis.com/auth/plus.profile.emails
          - id: github
            provider: github
            client_id: YOUR_GITHUB_CLIENT_ID
            client_secret: YOUR_GITHUB_CLIENT_SECRET
            mapper_url: file:///etc/config/kratos/github-userinfo-mapper.jsonnet
            scope:
              - user:email
            requested_claims:
              id_token:
                email:
                  essential: true
                name:
                  essential: true

  flows:
    error:
      ui_url: https://account.17cid.bei/error

    settings:
      ui_url: https://17cid.bei/user
      lifespan: 4h
      privileged_session_max_age: 72h
      required_aal: aal1
      after:
        default_browser_return_url: https://17cid.bei
        profile:
          hooks:
            - hook: show_verification_ui
        # password:
        #   hooks:
        #     - hook: revoke_active_sessions # 修改信息后使会话失效

    recovery:
      enabled: true
      ui_url: https://account.17cid.bei/recovery
      lifespan: 4h
      use: code
      after:
        default_browser_return_url: https://17cid.bei # 这里默认应该是个人信息设置页面，修改密码等

    verification:
      enabled: true
      ui_url: https://account.17cid.bei/verification
      lifespan: 4h
      use: code
      after:
        default_browser_return_url: https://account.17cid.bei/login

    logout:
      after:
        default_browser_return_url: https://17cid.bei

    login:
      ui_url: https://account.17cid.bei/login
      lifespan: 4h
      style: "unified"
      after:
        default_browser_return_url: https://17cid.bei
        password:
          hooks:
            - hook: require_verified_address

    registration:
      # enable_legacy_one_step: true # 使用过去的单步骤注册，默认使用的两步骤注册
      lifespan: 4h
      ui_url: https://account.17cid.bei/registration
      style: "unified"
      login_hints: true
      after:
        code:
          hooks:
            - hook: web_hook
              config:
                # id: generate_username
                response:
                  parse: true
                url: http://user-service.ory-bei.svc.cluster.local/v1/users/username/generate
                method: POST
                headers:
                  Content-Type: application/json
                body: base64://ZnVuY3Rpb24oY3R4KSBjdHg=
            - hook: web_hook
              config:
                # id: generate_avatar
                response:
                  parse: true
                url: http://user-service.ory-bei.svc.cluster.local/v1/users/avatar/generate
                method: POST
                headers:
                  Content-Type: application/json
                body: base64://ZnVuY3Rpb24oY3R4KSBjdHg=
        password:
          hooks:
            - hook: web_hook
              config:
                # id: generate_username
                response:
                  parse: true
                url: http://user-service.ory-bei.svc.cluster.local/v1/users/username/generate
                method: POST
                headers:
                  Content-Type: application/json
                body: base64://ZnVuY3Rpb24oY3R4KSBjdHg=
            - hook: web_hook
              config:
                # id: generate_avatar
                response:
                  parse: true
                url: http://user-service.ory-bei.svc.cluster.local/v1/users/avatar/generate
                method: POST
                headers:
                  Content-Type: application/json
                body: base64://ZnVuY3Rpb24oY3R4KSBjdHg=
            - hook: show_verification_ui
            # - hook: session

log:
  level: error
  # format: json
  leak_sensitive_values: true

secrets:
  default:
    - 3nzBld4jyXJi3ziqU7odkuY9UQSq2AGP
  cookie:
    - 0DCkvLzsk0jWlqsEAbZHfhZia0ISi9jr
  cipher:
    - tE0CRpoRSMdlXH50Pqdv2lL8LFhOhHO2

ciphers:
  algorithm: xchacha20-poly1305

hashers:
  algorithm: bcrypt
  bcrypt:
    cost: 8

courier:
  # smtp:
  #   connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true
  templates:
    verification_code:
      valid:
        email:
          body:
            plaintext: "base64://WW91ciB2ZXJpZmljYXRpb24gY29kZSBpczoge3sgLlZlcmlmaWNhdGlvbkNvZGUgfX0=" # Your verification code is: {{ .VerificationCode }}
        sms:
          body:
            plaintext: "base64://WW91ciB2ZXJpZmljYXRpb24gY29kZSBpczoge3sgLlZlcmlmaWNhdGlvbkNvZGUgfX0=" # Your verification code is: {{ .VerificationCode }}
  #   login_code:
  #     valid:
  #       email:
  #         body:
  #           plaintext: "base64://WW91ciBsb2dpbiBjb2RlIGlzOiB7eyAuTG9naW5Db2RlIH19" # Your login code is: {{ .LoginCode }}
  #       sms:
  #         body:
  #           plaintext: "base64://WW91ciBsb2dpbiBjb2RlIGlzOiB7eyAuTG9naW5Db2RlIH19" # Your login code is: {{ .LoginCode }}
  # registration_code:
  #   valid:
  #     email:
  #       body:
  #         plaintext: "base64://WW91ciBsb2dpbiBjb2RlIGlzOiB7eyAuTG9naW5Db2RlIH19" # Your login code is: {{ .LoginCode }}
  #     sms:
  #       body:
  #         plaintext: "base64://WW91ciBsb2dpbiBjb2RlIGlzOiB7eyAuTG9naW5Db2RlIH19" # Your login code is: {{ .LoginCode }}

  delivery_strategy: http
  message_retries: 2
  http:
    request_config:
      url: http://message-service.ory-bei.svc.cluster.local/v1/webhook
      method: POST
      body: base64://ZnVuY3Rpb24oY3R4KSB7IGlucHV0OiB7IHNvdXJjZTogImtyYXRvcyIsIHBheWxvYWQ6IHN0ZC5tYW5pZmVzdEpzb24oY3R4KSB9IH0=
      headers:
        Content-Type: application/json
  channels:
    - id: sms
      type: http
      request_config:
        url: http://message-service.ory-bei.svc.cluster.local/v1/webhook
        method: POST
        body: base64://ZnVuY3Rpb24oY3R4KSB7IGlucHV0OiB7IHNvdXJjZTogImtyYXRvcyIsIHBheWxvYWQ6IHN0ZC5tYW5pZmVzdEpzb24oY3R4KSB9IH0=
        headers:
          Content-Type: application/json

database:
  cleanup:
    batch_size: 20
    older_than: "24h"

cookies:
  same_site: Lax
  domain: ".17cid.bei"

session:
  lifespan: 168h
  earliest_possible_extend: 72h
  # whoami:
  #   tokenizer:
  #     templates:
  #     jwt_template_1:
  #       jwks_url: base64://... # A JSON Web Key Set (required)
  #       claims_mapper_url: base64://... # A JsonNet template for modifying the claims
  #       ttl: 1m # 1 minute (defaults to 10 minutes)
  #     another_jwt_template:
  #       jwks_url: base64://... # A JSON Web Key Set
  cookie:
    # same_site: Lax
    # domain: ".17cid.bei"
    name: 17cid_user_session

feature_flags:
  use_continue_with_transitions: true

tracing:
  provider: otel # use any of the supported tracing providers
  service_name: ory:kratos # if not set, the service name will be the service's name
  providers:
    otlp: # per provider configuration
      server_url: jaeger-collector.jaeger.svc.cluster.local:4318
      insecure: true
      sampling:
        sampling_ratio: 0.1
